# Arquivos de estado e cache do Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Chaves privadas e segredos locais
*.pem
*.ppk
.env
*.env

# Arquivos do Sistema e IDE
.DS_Store
.vscode/
.idea/